<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920785269723-jrue07t5a821nigntq7jt39s710lgnbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920785269723-jrue07t5a821nigntq7jt39s710lgnbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDl1cZyj6QAmP1YYDh3AwbgXTgG-PtCOsE</string>
	<key>GCM_SENDER_ID</key>
	<string>920785269723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thekevinportela.socialapp</string>
	<key>PROJECT_ID</key>
	<string>rn-social-app-883ea</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-social-app-883ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920785269723:ios:c6d08b7b8af9fdc54cadfe</string>
</dict>
</plist>